<!-- <%-include('index')%> -->

<div>
    <%data.forEach((val) =>{%>

        <div>
            <p><%=val.name%></p>
            <input type="submit" value="Edit" onclick="edit(this)">
            <input type="submit"value="delete">
        </div>
<%})%>
</div>
<script>
    function edit(upper){
        var get=document.getElementById()
    }
</script>
<h1>yellow,<%=data[2].name%></h1>
