<body style="text-align: center;">
    <h1>Admin Privigiles Are listed below</h1>
    <form action="/addcontent" method="post">
        <h1>1.AddFiles</h1>
        <input type="submit" value="Addfiles"
        style="width: 100px; height: 40px; border-radius:25px; border-style: none;
        color: white;
        background-color:#8F00FF;
         text-align: center;
         text-decoration: none;
         font-size: 16px;
         margin: 4px 2px;
         cursor: pointer;
         -webkit-transition-duration: 0.4s;
         transition-duration: 0.4s;">
    </form>
    <form action="/editcontent" method="post">
        <h1>2.EditFiles</h1>
        <input type="submit" value="Editfiles"
        style="width: 100px; height: 40px; border-radius:25px; border-style: none;
        color: white;
        background-color:#8F00FF;
         text-align: center;
         text-decoration: none;
         font-size: 16px;
         margin: 4px 2px;
         cursor: pointer;
         -webkit-transition-duration: 0.4s;
         transition-duration: 0.4s;">
    </form>
    <form action="/deletecontent" method="post">
        <h1>3.DeleteFiles</h1>
        <input type="submit" value="Deletefiles"
        style="width: 100px; height: 40px; border-radius:25px; border-style: none;
        color: white;
        background-color:#8F00FF;
         text-align: center;
         text-decoration: none;
         font-size: 16px;
         margin: 4px 2px;
         cursor: pointer;
         -webkit-transition-duration: 0.4s;
         transition-duration: 0.4s;">
    </form>
</body>