<body style="display: flex; justify-content: center; align-items: center;">
    <div>
        <h1>User Login Page</h1>
        <form method="post" action="/validation">
            <div style="display: flex; justify-content: space-around;">
                <label for="name">Name:</label>
                <input type="text" name="username">
            </div><br>
            <div style="display: flex; justify-content: space-around;">
            <label for="pass">Password:</label>
           <input type="password" name="password">
            </div>
            <br>

            <div style="display: flex; justify-content: center;">
                <input type="submit" value="submit"
                style="width: 100px; height: 40px; border-radius:25px; border-style: none;
         color: white;
         background-color:#8F00FF;
          text-align: center;
          text-decoration: none;
          font-size: 16px;
          margin: 4px 2px;
          cursor: pointer;
          -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;">
            </div>
       
        </form>
    </div>
    
</body>
